/*
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


/* --------------------------------------------------------------------------------------------------------- /*



/*
 * (c) Krushn Dayshmookh
 */

#nav-main {
    display: none
}

.font-nunito-extra-light {
    font-family: 'Nunito';
    font-weight: 200;
    font-style: normal;
}

.font-nunito-extra-light-italic {
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
}

.font-nunito-light {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
}

.font-nunito-light-italic {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: italic;
}

.font-nunito-regular {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
}

.font-nunito-regular-italic {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: italic;
}

.font-nunito-semi-bold {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
}

.font-nunito-semi-bold-italic {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: italic;
}

.font-nunito-bold {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: normal;
}

.font-nunito-bold-italic {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: italic;
}

.font-nunito-extra-bold {
    font-family: 'Nunito';
    font-weight: 800;
    font-style: normal;
}

.font-nunito-extra-bold-italic {
    font-family: 'Nunito';
    font-weight: 800;
    font-style: italic;
}

.font-nunito-black {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
}

.font-nunito-black-italic {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: italic;
}
